// Global Variables

// RESPONSIVE BREAKPOINTS

$bp-largest: 75em; // 1200px/16 (browser default)
$bp-large: 62.5em; // 1000px
$bp-medium: 50em;  // 800px;
$bp-small: 37.5em;

// FONT VARIABLES
$font-primary: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-display: 'Tilt Warp', sans-serif;
