.container {
    @include defaultContainer;
    min-width: 4rem;
    position: fixed;
    bottom: 0;
    right: 8rem;
    margin-top: -100px;
    padding-top: 30px;
    border: 1px solid black;
    transform: translateY(2.5rem);
    background-color: white;
    display: grid;
    align-items: end;
    max-width: 30rem;
    padding: 0 1rem;
    
    &.collapsed {
        transform: translateY(85%);
        transition: transform 0.3s ease-out;
    }

    &.expanded {
        transform: translateY(5%);
        transition: transform 0.3s ease-out;
    }
}

.header {
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;

    &_title {
        font-family: $font-display;
        font-size: large;
    }

    &_button {
        
    }
}

.chatWindow {
    height: 35rem;
    width: 25rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chatWindow::-webkit-scrollbar {
    display: none;
  }

.form {
    padding-top: 2rem;
    padding-bottom: .5rem;
    margin-bottom: 2.5rem;
    background: transparent;
    display: grid;
    grid-template-columns: 1fr 3.5rem;
    grid-gap: 1rem;
}

.textArea {
    border: 1px solid grey;
    border-radius: 100px;
    color: grey;
    align-self: center;
    background: transparent;
    padding: 0 1.2rem; 
    padding-top: 1rem;
}

.btn {
    background-color: deepskyblue;
    border-radius: 100px;
    color: white;
}