.container {
    @include defaultContainer;
    min-width: 4rem;
    position: fixed;
    bottom: 0;
    right: 8rem;
    margin-top: -100px;
    padding-top: 30px;
    border: 1px solid black;
    transform: translateY(2.5rem);
    background-color: white;
    display: grid;
    align-items: end;
    max-width: 30rem;
}

.header {
    font-family: $font-display;
    font-size: large;
    padding-left: 2rem;
}

.chatWindow {
    height: 30rem;
    width: 25rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chatWindow::-webkit-scrollbar {
    display: none;
  }

.form {
    margin-bottom: 2.5rem;
    background: transparent;
}

.textArea {
    border: 1px solid grey;
    border-radius: 100px;
    color: grey;
    align-self: center;
    width: 23rem;
    background: transparent;
}