.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 3rem 5rem;
    padding-top: 6rem;
  }
  
  .header a {
    color: #333;
    margin-right: 2rem;
  }
  
  .header a:hover {
    color: #000;
  }

  .header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  
  .logoContainer {
    display: flex;
  }

  .logo {
    font-size: 3rem;
    font-family: $font-display;
    font-weight: 700;
    text-align: center;
    align-self: flex-end;
  }

  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      height: auto;
    }
  
    .header ul {
      margin: 20px 0;
      flex-direction: column;
      text-align: center;
    }
  
    .header a {
      margin-right: 0;
    }
  
    .logo {
      margin: 20px 0;
    }
  }
  