.homeContainer {
    margin: 6rem auto;
    padding: 0 5rem;

    display: grid;
    grid-template-columns: 50vw minmax(3rem, 1fr);
    grid-template-rows: 10rem calc(100vh - 10rem);
    grid-column-gap: 8rem;
    position: relative;
}